<h2>Categories</h2>
<p><%= link_to "New Category", new_category_path %></p>

<h3>Current Categories</h3>
<p>

<% if @categories.nil? || @categories.empty? %>
  <p>No categories</p>
<% else %>
  <% @categories.each do |c| %>
  <%= c.name %> <%= link_to "Delete", c, :method => :delete, :confirm => "Are you sure?" %><br>
  <% end %>
<% end %>
</p>